@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  font-family: 'Roboto', sans-serif;
}

body {
  @apply bg-default;
}

.search-button-width {
  @apply w-full;
  width: calc((100% - 12px) / 2);
}

.selected-flag {
  background-color: #161925 !important;
}

.selected-flag:hover {
  background-color: #2c3044 !important;
}

.selected-flag:focus {
  background-color: #2c3044 !important;
}

.country:hover {
  background-color: #2c3044 !important;
}

.highlight {
  background-color: #2c3044 !important;
}

@layer utilities {
  @media (min-width: 1536px) {
    .min-px-96 {
      padding-left: max(96px, calc((100vw - 1536px) / 2));
      padding-right: max(96px, calc((100vw - 1536px) / 2));
    }
  }
}

@layer utilities {
  @media (min-width: 1536px) {
    .min-px-132 {
      padding-left: max(132px, calc((100vw - 1536px) / 2));
      padding-right: max(132px, calc((100vw - 1536px) / 2));
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: spin 20s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #7a7a7a;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #464646;
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
